/*
h1 {
    color: green !important;
}
    */

    /* Universal Selector */
* {
    font-family: "Courier New", monospace;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

body {
    background-color: #171717;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

section {
    background-color: #333333;
    padding: 0.5rem;
    margin: 0.5rem;
}

h2 {
    font-size: 1.5rem;

}

/* ID Selector */
#zuitt-motto {
    color: lightblue;
    letter-spacing: 5px;
    font-style: italic;
}

h3 {
    text-align: center;
    letter-spacing: 25px;
}

/* Adjacent Selector */
h3 + img {
    height: 300px;
    width: 400px;
    display: block;
    margin: auto;
}

ol {
    list-style-type: none;
    padding:0;
}

/* CLASS SELECTOR */

.offering-item {
    text-transform: uppercase;
}

/* DESCENDANT SELECTOR */
#bootcamp-learning-list li {
    color: lightblue
}

a {
    text-decoration: none;
}